.container {
	width: 60%;
	text-align: center;
	max-width: 500px;
}

#controls {
	margin-bottom: 20px;
}

#timer {
	display: inline-block;
	color: #999;
	font-family: "Menlo", "Arial", "sans-serif";
	margin: 30px auto;
}

#timer .time_container,
#timer .time_seperator {
	text-align: center;
	display: block;
	vertical-align: top;
    float: left;
}

#timer .time_container {
	width: 30%;
}

.time_container input,
.time_container label {
	width: 100%;
	text-align: center;
}

.time_container input {
	border: 1px solid #999;
	border-radius: 3px;
	min-width: 110px;
	font-size: 6em;
}

.time_container input:focus {
	outline: none;
	color: #777;
}

.time_container label {
	clear: both;
	font-size: 1em;
	min-width: 10px;
}

.time_seperator {
	line-height: 7em;
	font-weight: bold;
    width: 5%;
}