#timer {
	color: #999;
	font-family: "Menlo", "Arial", "sans-serif";
	text-align: center;
	padding: 15px;
	width: 100%;
	margin: 50px auto 20px;
}

#timer .time_container,
#timer .time_seperator {
	text-align: center;
	display: inline-block;
	vertical-align: top;
}

#timer .time_container {
	width: 15%;
	min-width: 100px;
}

.time_container input,
.time_container label {
	display: block;
	width: 100%;
	text-align: center;
}

.time_container input {
	border: 1px solid #999;
	border-radius: 3px;
	min-width: 30px;
	font-size: 6em;
}

.time_container input:focus {
	outline: none;
	color: #777;
}

.time_container label {
	clear: both;
	font-size: 1em;
	min-width: 10px;
}

.time_seperator {
	line-height: 7em;
	font-weight: bold;
}

.wrap {
	width: 250px;
	margin: 0 auto;
}